body {
	background-color: #008080;
	
  }

.summary {
	padding-top:130px;
	font-family:'Georgia serif';
	color:#fff;
} 

.detail {
	padding-top:80px;
	margin-left:20px;
	font-family:'Georgia serif';
	color:#fff;
}   

a{
	font-size:14px; 
	color:#0000ff;
}