.jumbotron {
    margin-top:80px; 
    min-height:550px;
}


.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin:10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-content {
    padding: 2px 16px;
    background-color:#A8CD1B; 
    font-family:'Georgia sans-serif';
    color:#000;
}

.card > .card-action {
	line-height:36px;
}

.card > .list-group-item {
    padding: 0px 2px; 
}

.boilerplate {
    text-align: center;
}

.modal-dialog{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    background-color: #fff;
}

.btn-spacing{
    margin-right:5px;
}

