body {
  background-color:#252839;
  
  }


.navbar-brand > img {
    display: inline;
}

.jumbotron {
    margin-top:80px; 
    min-height:550px;
    height:100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px 0;
  font-size: 15px;
  line-height: 1.65;
  border-radius: 30px;
  margin-bottom:-8px;
  margin-top:-6px;
  font-weight:bold;

}

#username {
  margin-top:15px;
  color:#fff;
}

#logout{
  padding-right:10px;
  text-align:right;
  width:inherit;
  
}

#logout>a{
  font-weight:bold;
}